################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/Autofac.4.3.0
/.vs/PriceBasket/v14
/packages/Newtonsoft.Json.9.0.1
/PriceBasket.Business/bin/Debug
/PriceBasket.Business/obj/Debug
/PriceBasket.Service/bin/Debug
/PriceBasket.Service/obj/Debug
/packages/log4net.2.0.7
/packages
/PriceBasket.Business.Tests/bin/Debug
/PriceBasket.Business.Tests/obj/Debug
